{% extends "base_no_search.html" %}

{% load apptags %}

{% block content %}

<div id="pricing_plans">
	<h1 class="page-header">
		Welcome to mAuthor
	</h1>

	<div class="wrapper">
        <div class="pricing_login_register_info">
            <div><b>Option A</b></div>
            <div>If you are NOT member of a Company which is mAuthor customer already, you can start your 30 days FREEE TRIAL now.</div>
            <div class="create_trial_button"><a href="/corporate/create_trial_account" class="btn btn-large btn-primary no-space-create-account-button">Start your FREE TRIAL</a></div>
            <div><b>Option B</b></div>
            <div>If your Company/Organization is already using mAuthor platform, please contact your Company mAuthor’s administrator who will assign your Account to your Company workspace. Just let him/her know what name you selected during your registration process. AFTER he/she assigns you, NEXT TIME YOU LOG IN, your account will automatically connect you to your Company workspace.</div><br>
            <div>To start using mAuthor quickly and learn its functionality we recommend you to take a tour along its useful Video Tutorials. They will help you to take your first steps and speed up your learning curve significantly. You will find there also some useful tips & tricks and ready-made solutions to be implemented in your first projects.</div>
            <div>You may find them at:<a href="http://www.learnetic.com/mauthor-video-tutorials">http://www.learnetic.com/mauthor-video-tutorials</a></div>
        </div>
	</div>
</div>

{% endblock %}