<table>
    <tr>
        <td>{{ translations | getLabel:"plain.my_lessons.panel.lesson_details.author" }}</td>
        <td>{{ lesson.author }}</td>
    </tr>

    <tr>
        <td> {{ translations | getLabel:"plain.corporate.panel._lessons_list.last_modified" }}</td>
        <td>{{ lesson.modifiedDate | date: 'medium' }}
            <ng-container *ngIf="lastModifiedBy">
                {{ translations | getLabel:"plain.my_lessons.panel.lesson_details.by" }}{{ lastModifiedBy }}
            </ng-container>
        </td>
    </tr>

    <tr>
        <td> {{ translations | getLabel:"plain.my_lessons.panel.lesson_details.published" }}</td>
        <td>
            <div *ngIf="lesson.isPublic" class="published-info" (click)="unpublishLesson(lesson.id, $event)">
                <img src="/media/images/ic_lock_open_black2_24px.svg">
                <span class="lock-text"> {{ translations | getLabel:"plain.my_lessons.panel.lesson_details.published" }}</span>
            </div>
            <div *ngIf="!lesson.isPublic" class="published-info" (click)="publishLesson(lesson.id, $event)">
                <img src="/media/images/ic_lock_outline_black2_24px.svg">
                <span class="lock-text"> {{ translations | getLabel:"plain.my_lessons.panel.lesson_details.not_published" }}</span>
            </div>
        </td>
    </tr>

    <tr *ngIf="lesson.contentType.isLesson()">
        <td> {{ translations | getLabel:"plain.my_lessons.panel.lesson_details.template" }}</td>
        <td>{{ lesson.template }}</td>
    </tr>
</table>
