/.pydevproject
/.gaedata
/.gaedata_dev
*.pyc
.idea
.DS_Store
build.properties
/src/sitepackages/google_appengine
/src/.storage
/src/mauthor/templates/static_files/frontend
/src/.cache
venv
env
test-reports/
#static_files
*.bak
key.json
test_files/list.py
test_files/migrate_languages.py
src_frontend/yarn.lock
test_files/add.py
test_files/add_to_list.py
