.test_toolbar{
	background-color: #f2f1f0;
	padding: 2px;
}

.testtoolbar{
	background-color: #f2f1f0;
	padding: 2px;
}

.progresspage_a{
	
}

.progresspage_b{
	
}


.progresspage_c{
	
}

.text{
	
}

.text1 {
	
}