.addon_Image_Identification .image_identification-element {
  overflow: hidden;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #c6cb30;
  background-color: #c6cb30;
  color: #222222;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  border-width: 3px;
}

.addon_text_identification 
.text-identification-element-correct {
  border-radius: 5px;
  border: 1px solid #c6cb30;
  background-color: #c6cb30;
  color: #222222;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  background: none;
  border: 1px solid #54cd6d;
  background-color: #54cd6d;
  color: #ffffff;
}

/* CUSTOM TEXT CLASSES */ .text-course-header {
  color: #c6cb30;
  font-size: 19px;	
}

/*button navigating to next page*/.navigationbar-element-next {
  background: none;
  color: #ffffff;
  color: #c6cb30;
}

/* some comment */ .class1, .class2, .class3 {
	color: white;
}