<section mdl id="accounts-login">
    <page-title-bar>
        <h1 class="title">
            {{ translations | getLabel : "plain.accounts.login.panel.login" }}
        </h1>
    </page-title-bar>

    <div [putFooterBottom]="30" class="page-content">
        <form (ngSubmit)="onSubmit()">
            <div *ngIf="error" class="error">
                {{
                    translations
                        | getLabel : "plain.accounts.login.panel.enter_password"
                }}
            </div>

            <ul class="mdl-list">
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon"
                            >&#xE7FD;</i
                        >
                        <mat-form-field>
                            <input
                                matInput
                                [(ngModel)]="username"
                                [placeholder]="
                                    translations
                                        | getLabel
                                            : 'plain.accounts.login.panel.login'
                                "
                                name="username"
                                id="username"
                            />
                        </mat-form-field>
                    </span>
                </li>

                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon"
                            >&#xE897;</i
                        >
                        <mat-form-field>
                            <input
                                matInput
                                [(ngModel)]="password"
                                [placeholder]="
                                    translations
                                        | getLabel
                                            : 'plain.accounts.login.panel.password'
                                "
                                name="password"
                                id="password"
                                type="password"
                            />
                        </mat-form-field>
                    </span>
                </li>

                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon"></i>
                        <div class="mdl-textfield mdl-js-textfield">
                            <mat-checkbox
                                color="primary"
                                [(ngModel)]="rememberMe"
                                name="remember_me"
                            >
                                {{
                                    translations
                                        | getLabel
                                            : "plain.accounts.login.panel.remember_me"
                                }}
                            </mat-checkbox>
                        </div>
                    </span>
                </li>

                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon"></i>
                        <button
                            type="submit"
                            class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent custom-login-button"
                        >
                            {{
                                translations
                                    | getLabel
                                        : "plain.accounts.login.panel.login"
                            }}
                        </button>
                    </span>
                </li>

                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon"></i>
                        <a
                            class="mdl-button mdl-js-button mdl-button--primary"
                            routerLink="/user/reset_password"
                            mat-button
                        >
                            {{
                                translations
                                    | getLabel
                                        : "plain.accounts.login.panel.forgot_password"
                            }}
                        </a>
                    </span>
                </li>
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon"></i>
                        <a
                            class="mdl-button mdl-js-button mdl-button--primary"
                            routerLink="/accounts/register/"
                            mat-button
                        >
                            {{
                                translations
                                    | getLabel
                                        : "plain.accounts.login.panel.not_a_member"
                            }}
                        </a>
                    </span>
                </li>
            </ul>
        </form>
    </div>
</section>
