#accounts-register-finish {
    .content-wrapper {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 15px;

        h2 {
            margin: 0 0 16px 0;
        }
    }
}