<section id="accounts-register-finish">
    <page-title-bar>
        <h1 class="title">
            {{ translations | getLabel:"plain.accounts.register.panel.register" }}
        </h1>
    </page-title-bar>

    <div putFooterBottom class="page-content">
        <div class="content-wrapper">
            <h2>
                {{ translations | getLabel:"plain.accounts.register.finish.panel.almost_done" }}
            </h2>

            <p>
                {{ translations | getLabel:"plain.accounts.register.finish.panel.email_sent" }}
            </p>

            <p>
                {{ translations | getLabel:"plain.accounts.register.finish.panel.activation_link" }}
            </p>

            <p>
                {{ translations | getLabel:"plain.accounts.register.finish.panel.still_problem" }}
                <a href="/public/contact-us">
                    {{ translations | getLabel:"plain.accounts.register.finish.panel.contact_us" }}
                </a>
            </p>

            <p>
                {{ translations | getLabel:"plain.accounts.register.finish.panel.thank_you" }}
            </p>
        </div>
    </div>
</section>
