{% extends "base.html" %}
{% load apptags %}

{% block content %}

<h1 class="page_header">Restore project from backup</h1>
<div class="main clear" style="padding-top: 0"></div>

{% include "common/messages/display_messages.html" %}

<form method="post" action="{{ upload_url }}" name="upload" enctype="multipart/form-data">
	{% csrf_token %}
	<input type="hidden" name="next" value="{{next}}"/>
	<table class="upload-logo">
  		{{ form }}
  	<tr><th></th><th>{% button 'Upload' 'document.forms["upload"].submit()' %}</th></tr>
  	</table>
  	<input type="submit" />
</form>
{% endblock %}