<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<listener>
 		<listener-class>com.lorepo.iceditor.server.ContextInitializer</listener-class>
	</listener>
  
  	<servlet>
    	<servlet-name>initContentServlet</servlet-name>
    	<servlet-class>com.lorepo.iceditor.server.InitContentServlet</servlet-class>
  	</servlet>
  
  	<servlet>
    	<servlet-name>fileServlet</servlet-name>
    	<servlet-class>com.lorepo.iceditor.server.FileServlet</servlet-class>
  	</servlet>
  
  	<servlet>
    	<servlet-name>addPageServlet</servlet-name>
    	<servlet-class>com.lorepo.iceditor.server.AddPageServlet</servlet-class>
  	</servlet>
  
  	<servlet>
    	<servlet-name>uploadServlet</servlet-name>
    	<servlet-class>com.lorepo.iceditor.server.UploadServlet</servlet-class>
  	</servlet>
  
  	<servlet>
    	<servlet-name>serveServlet</servlet-name>
    	<servlet-class>com.lorepo.iceditor.server.ServeServlet</servlet-class>
  	</servlet>
  
  	<servlet>
    	<servlet-name>templateServlet</servlet-name>
    	<servlet-class>com.lorepo.iceditor.server.TemplateServlet</servlet-class>
  	</servlet>
  
  	<servlet>
    	<servlet-name>addonsServlet</servlet-name>
    	<servlet-class>com.lorepo.iceditor.server.AddonsServlet</servlet-class>
  	</servlet>
  
  	<servlet-mapping>
    	<servlet-name>initContentServlet</servlet-name>
    	<url-pattern>/content/init</url-pattern>
  	</servlet-mapping>
  
    <servlet-mapping>
    	<servlet-name>serveServlet</servlet-name>
    	<url-pattern>/file/serve/*</url-pattern>
  	</servlet-mapping>
  
  	<servlet-mapping>
    	<servlet-name>fileServlet</servlet-name>
    	<url-pattern>/file/*</url-pattern>
  	</servlet-mapping>
  
  	<servlet-mapping>
    	<servlet-name>fileServlet</servlet-name>
    	<url-pattern>/editor/api/blobUploadDir</url-pattern>
  	</servlet-mapping>
  
  	<servlet-mapping>
    	<servlet-name>uploadServlet</servlet-name>
    	<url-pattern>/upload</url-pattern>
  	</servlet-mapping>
  
  	<servlet-mapping>
    	<servlet-name>addPageServlet</servlet-name>
    	<url-pattern>/editor/api/addNewPage</url-pattern>
  	</servlet-mapping>
  
  	<servlet-mapping>
    	<servlet-name>templateServlet</servlet-name>
    	<url-pattern>/editor/api/templates</url-pattern>
  	</servlet-mapping>
  
  	<servlet-mapping>
    	<servlet-name>addonsServlet</servlet-name>
    	<url-pattern>/editor/api/addons</url-pattern>
  	</servlet-mapping>
  
  
  	<!-- Default page to serve -->
  	<welcome-file-list>
    	<welcome-file>index.html</welcome-file>
  	</welcome-file-list>

</web-app>
