{% extends "base.html" %}
{% load apptags %}
{% load content %}

{% block head %}
    <link href="/media/js/mCurriculum/mCurriculumModal.css" rel="stylesheet" type="text/css" xmlns="http://www.w3.org/1999/html"/>
    <script src="/media/js/messages.js" type="text/javascript"></script>
    <script src="/media/js/mCurriculum/mCurriculumModal.js"></script>
{% endblock %}

{% block content %}

    <div id="permission-index">
        <h1 class="page-header">
            Newsletter Emails
        </h1>


        <div class="wrapper">
            <div class="container">
                <div class="pull-center">
                    <p>Please use "Get new emails" in order to get user emails. File with data will be sent on your email.</p>
                </div>
                <img src="/media/ajax-loader-transparent.gif" class="loading-image" id="loading-image" />
                <button id="button_get_emails" onclick="getEmails(0)">Get new emails</button>
                <button id="button_get__all_emails" style="display: none;" onclick="getEmails(1)">Get emails</button>
                <span id="messages"></span>
            </div>
        </div>

    </div>

    <script>
        function getEmails(all) {
            $('#button_get_emails').prop("disabled",true);
            $('#loading-image').show();
            $('#messages').html('');
            var url = '';

            if (all === 0) {
                url = "/api/v2/newsletter/emails";
            } else {
                url = "/api/v2/newsletter/emails?is_all=1";
            }

            $.get('/api/v2/jwt/session_token', function (data) {
                var token = data.token;
                $.ajax({
                    url: url,
                    type: 'GET',
                    beforeSend : function(xhr) {
                        xhr.setRequestHeader("Accept", "application/json");
                        xhr.setRequestHeader("Content-Type", "application/json");
                        xhr.setRequestHeader("Authorization", "JWT "+token);
                    },
                    error : function() {
                        // error handler
                        $('#edit-error').show();
                        $('#messages').html('An error has occured error. Please try again later.');
                        $('#button_get_emails').prop("disabled",false);
                        $('#loading-image').hide();
                    },
                    success: function(data) {
                        if (data.code === 0){
                            $('#messages').html(data.message);
                        } else if (data.code === 1 ) {
                            $('#messages').html(data.message);
                        } else if (data.code === 3 ) {
                            $('#messages').html(data.message);
                            if (data.link !== '') {
                                $('#messages').append(' <a href="' + data.link + '">Click to get the file.</a>');
                            }
                        }
                        $('#button_get_emails').prop("disabled",false);
                        $('#loading-image').hide();
                    }

                });
            });
        }

        $(document).ready(function () {
            $('#loading-image').hide();
        });
    </script>

{% endblock %}