{% extends "base.html" %}
{% load apptags %}
{% load public %}
{% load corporate %}
{% load markdown_deux_tags %}
{% block head %}
<link href="/media/style/shCore.css" rel="stylesheet" type="text/css" />
<link href="/media/style/shThemeDefault.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" language="javascript" src="/media/icplayer/icplayer.nocache.js"></script>
<script type="text/javascript" language="javascript" src="/media/js/shCore.js"></script>
<script type="text/javascript" language="javascript" src="/media/js/shBrushJScript.js"></script>
<script type="text/javascript" language="javascript" src="/media/js/shBrushXml.js"></script>
<script type="text/javascript" src="/media/js/addon-source-menu.js"></script>

{% if addon.associated_content %}
<script type="text/javascript" language="javascript">
		var player;
  		function icOnAppLoaded(){
     	// Load assessment
	    	player = icCreatePlayer('_icplayer');
    		player.load('/file/{{addon.associated_content.file.id}}');
  		}
</script>
{% endif %}
	{% include 'common/math_jax.html' %}
{% endblock %}

{% block content %}

<h1 class="page_header" >
{% space_path spaces 3 %}
</h1>

<div class="main clear" style="padding-top: 0px"></div>

<div class="title-description">
<div class="title">{{addon.title}}</div>
<div class="clear"></div>
</div>

<div class="clear" style="padding-top: 0px"></div>
<div class="tab-menu" >
	<div class="single-tab selected" sourceId="Description">Description</div>
	<div class="single-tab" sourceId="View">View</div>
	<div class="single-tab" sourceId="Preview">Preview</div>
	<div class="single-tab" sourceId="Model">Model</div>
	<div class="single-tab" sourceId="SourceCode">Source Code</div>
</div>
<div class="addon-source">
	<div id="Description">
		<span>Description</span>
		<div class="description">
			{{ addon.description|markdown }} 
		</div>
	</div>
	<div id="View">
		<span>View</span>
		<pre class="brush: xml">
			{{view}}
		</pre>
	</div>
	<div id="Preview">
		<span>Preview</span>
		<pre class="brush: xml">
			{{preview}}
		</pre>
	</div>
	<div id="Model">
		<span>Model</span>
		<pre class="brush: xml">
			{{properties}}
		</pre>
	</div>
	<div id="SourceCode">
		<span>Source Code</span>
		<pre class="brush: javascript">
			{{presenter}}
		</pre>
	</div>
</div>

<div class="myContent">
	
	<div class="content infoPreview" >
	{% for cs in addon.contentspace_set.all %}
		{% if cs.space.is_corporate %}
			<span><b>Publisher: </b><a href="/public/?publisher={{cs.space.top_level.id}}&type={{addon.content_type}}">{{ cs.space.top_level }}</a></span>
			<span><b>Author: </b> <a href="/public/?author={{addon.author.username}}&type={{addon.content_type}}">{{addon.author.username}}</a></span>
		{% else %}
		{% if cs.space.is_private %}
			<span><b>Author:</b> <a href="/public/?author={{addon.author.username}}&type={{addon.content_type}}">{{addon.author.username}}</a></span>
		{% endif %}
		{% endif %}
	{% endfor %}
	</div>
	<div class="clear"></div>
	{% if addon.associated_content %}
		<h3>Example usage in public lesson:</h3>
		<div class="associated-presentation"><span>Title:</span> <a href="/embed/{{addon.associated_content.id}}">{{addon.associated_content}}</a></div>
		<div id="_icplayer"></div>
	{% endif %}
	
	<div class="clear"></div>
	
</div>
{% endblock %}