{% extends "base.html" %}
{% load i18n %}
{% load apptags %}
{% block content %}
<div class="loginDiv">

	<div style="margin: auto; width: 500px;">
		<h1>Reset password</h1>
		<h4>Enter your username</h4>
		<form method="post" action="/user/reset_password" name="reset">
			{% csrf_token %}
			<table>
				<tr>
					<th>{{ form.username.label }}</th>
					<td>{{ form.username }}</td>
					<td>{{ form.username.errors }}</td>
				<tr>
					<th></th>
					<td>{% button 'Submit' 'document.forms["reset"].submit()' %}</td>
					<td></td>
				</tr>
				<input type="submit" />
			</table>
		</form>
	</div>
	<div class="content clear"></div>
</div>
{% endblock %}
