{% extends "base.html" %}
{% load i18n %}
{% load apptags %}
{% block content %}

{% if validlink %}

<h1 class="page_header">Password change</h1>
<div class="main clear" style="padding-top: 0"></div>
<form method="post" action="." name="change">
	{% csrf_token %}
	<table>
  		{{ form }}
  	<tr><th></th><th>{% button 'Change' 'document.forms["change"].submit()' %}</th></tr>
  	</table>
  	<input type="hidden" name="next" value="{{ next }}" />
  	<input type="submit" />
</form>

{% else %}

<p>{% trans "Password reset failed" %}</p>

{% endif %}

{% endblock %}
