<ng-container *ngIf="structure">
    <div *ngIf="structure.subspaces" class="publication-container">
        <i
            *ngIf="structure.subspaces && !structure._ui.isExpanded"
            (click)="showSubspaces(structure)"
            [ngClass]="{ 'blue-arrow': !hasLeftPadding }"
            class="material-icons"
            >arrow_drop_down</i
        >
        <i
            *ngIf="structure.subspaces && structure._ui.isExpanded"
            (click)="hideSubspaces(structure)"
            [ngClass]="{ 'blue-arrow': !hasLeftPadding }"
            class="material-icons"
            >arrow_drop_up</i
        >
        <i *ngIf="!structure.subspaces" class="material-icons invisible"
            >arrow_drop_up</i
        >
        <mat-radio-button
            [checked]="structure.id === lesson.publicationId"
            [value]="structure.id"
            class="publication-name"
        >
            {{ structure.name }}
        </mat-radio-button>

        <app-project-structure
            *ngIf="structure.subspaces && structure._ui.isExpanded"
            [structure]="structure.subspaces"
            [lesson]="lesson"
            [hasLeftPadding]="true"
            [projectId]="projectId"
            [shouldShowAddons]="shouldShowAddons"
            (displayLessons)="showLessons()"
            [currentSpaceId]="currentSpaceId"
            (afterSubmodulesDownload)="afterSubmodulesDownload.emit($event)"
        >
        </app-project-structure>
    </div>
</ng-container>
