popup-with-checkbox {
    .check-container {
        display: flex;
        flex-direction: column;
    }

    .popup-content {
        padding-top: 0 !important;
        padding-bottom: 0 !important;

        .mat-checkbox {
            margin-top: 5px;
            margin-left: 5px;
        }
    }
}
