{% extends "base.html" %}

{% load apptags %}

{% block content %}

<div id="course-index">
	<h1 class="page-header">
			Edit Course {{ course }}
	</h1>
	
	{% include 'common/messages/display_messages.html' %}
	
	<div class="wrapper">
		<div class="container">
			<form action="./{{ course.id }}" method="POST" name="edit_course" class="add-course clearfix">
				<input name="next" type="hidden" value="{{ next }}" />
			
				<div class="name">
					<div class="pull-left horizontal-stack">
						<input name="name" type="text" value="{{ course.name }}"/>
					</div>
					<div class="pull-left horizontal-stack">
						<button type="submit" class="btn btn-primary btn-sm">Save</button>
					</div>
					<div class="pull-left horizontal-stack">
						<a role="button" class="btn btn-primary btn-sm" href="{{next}}">Cancel</a>
					</div>
					<div class="clearfix"></div>
				</div>

			</form>
		</div>
	</div>
</div>

{% endblock %}