[[#options.length]]
<tr>
    <th>Role</th>
    <th>Actions</th>
</tr>
[[#options]]
    <tr class="role-tr">
        <td>
            [[name]]
        </td>
        <td>
            <a class="clickable-user-role-link edit-role-remove-button" data-roleid="[[id]]" data-rolename="[[name]]">Remove</a> &middot;
            <a class="clickable-user-role-link edit-role-edit-button" data-roleid="[[id]]" data-rolename="[[name]]">Edit</a>
        </td>
    </tr>
[[/options]]
[[/options.length]]
