[[#permissions]]
    <div class="group">
        <div>
            <label class="checkbox">
                <input type="checkbox" value="0" data-group-parent="[[name]]" class="checkbox-label-center-margin add-role-check-all-permission-group"  [[#checked]]checked[[/checked]]><b>[[name]]</b></input>
            </label>
        </div>
        [[#permissions]]
        <div>
            <label class="permission-label">
                <input type="checkbox" value="[[name]]" data-group="[[group]]" class="checkbox-label-center-margin" [[#checked]]checked[[/checked]] > [[name]][[level]]</input>
            </label>
        </div>
        [[/permissions]]
    </div>
[[/permissions]]