{% extends "base.html" %}
{% load i18n %}
{% load apptags %}

{% block content %}

<h1 class="page_header">Rename category</h1>
<div class="main clear" style="padding-top: 0"></div>

<div id="toolbar">
	<form action="{{request.path}}" method="post" name="rename">
	<table style="margin:0 10px">
	<tr>
		<td>Category name:</td>
		<td><input type="text" name="title" value="{{space.title}}"/></td>		
		<td><input type="hidden" name="next" value="{{next}}"/></td>
		<td>{% button 'Rename' 'document.forms["rename"].submit()' %}</td>
		<td><input type="submit" /></td>
	</tr>
	</table>
	</form>
</div>

{% endblock %}