<div class="app-content" id="interactive-content">
    <page-title-bar>
        <h1 class="title">
            Interactive tutorials
        </h1>
    </page-title-bar>
    <div [putFooterBottom]="16" class="app-content-page">
        <div class="section-title">GENERAL FEATURES</div>
        <mat-divider></mat-divider>
        <div class="section-content">
            <mat-card class="tutorial-card">
                <div class="content-wrapper">
                    <mat-card-title>
                        Part 1
                    </mat-card-title>
                    <mat-card-subtitle>
                        Introduction to mAuthor’s Interface
                    </mat-card-subtitle>
                    <mat-card-content>
                    </mat-card-content>
                    <mat-card-actions>
                        <a mat-button color="accent" href="https://www.mauthor.com/present/5596724589232128" target="_blank">
                            {{ translations | getLabel: "plain.my_lessons.panel.lesson_details.preview" }}
                        </a>
                    </mat-card-actions>
                </div>
            </mat-card>
            <mat-card class="tutorial-card">
                <div class="content-wrapper">
                    <mat-card-title>
                        Part 2
                    </mat-card-title>
                    <mat-card-subtitle>
                        How to Insert and Manage Modules
                    </mat-card-subtitle>
                    <mat-card-content>
                    </mat-card-content>
                    <mat-card-actions>
                        <a mat-button color="accent" href="https://www.mauthor.com/present/5187172379131904" target="_blank">
                            {{ translations | getLabel: "plain.my_lessons.panel.lesson_details.preview" }}
                        </a>
                    </mat-card-actions>
                </div>
            </mat-card>
            <mat-card class="tutorial-card">
                <div class="content-wrapper">
                    <mat-card-title>
                        Part 3
                    </mat-card-title>
                    <mat-card-subtitle>
                        Managing Pages
                    </mat-card-subtitle>
                    <mat-card-content>
                    </mat-card-content>
                    <mat-card-actions>
                        <a mat-button color="accent" href="https://www.mauthor.com/present/5869805111083008" target="_blank">
                            {{ translations | getLabel: "plain.my_lessons.panel.lesson_details.preview" }}
                        </a>
                    </mat-card-actions>
                </div>
            </mat-card>
            <mat-card class="tutorial-card">
                <div class="content-wrapper">
                    <mat-card-title>
                        Part 4
                    </mat-card-title>
                    <mat-card-subtitle>
                        Styling the Presentation with CSS
                    </mat-card-subtitle>
                    <mat-card-content>
                    </mat-card-content>
                    <mat-card-actions>
                        <a mat-button color="accent" href="https://www.mauthor.com/present/4628210059575296" target="_blank">
                            {{ translations | getLabel: "plain.my_lessons.panel.lesson_details.preview" }}
                        </a>
                    </mat-card-actions>
                </div>
            </mat-card>
        </div>
        <div class="section-title">MODULES HANDLING</div>

        <mat-divider></mat-divider>
        <div class="section-content">
            <mat-card class="tutorial-card">
                <div class="content-wrapper">
                    <mat-card-title>
                        Part 5
                    </mat-card-title>
                    <mat-card-subtitle>
                        How to Insert YouTube/Vimeo Video
                    </mat-card-subtitle>
                    <mat-card-content>
                    </mat-card-content>
                    <mat-card-actions>
                        <a mat-button color="accent" href="https://www.mauthor.com/present/6742294674538496" target="_blank">
                            {{ translations | getLabel: "plain.my_lessons.panel.lesson_details.preview" }}
                        </a>
                    </mat-card-actions>
                </div>
            </mat-card>
            <mat-card class="tutorial-card">
                <div class="content-wrapper">
                    <mat-card-title>
                        Part 6
                    </mat-card-title>
                    <mat-card-subtitle>
                        How to Insert Text with Gaps
                    </mat-card-subtitle>
                    <mat-card-content>
                    </mat-card-content>
                    <mat-card-actions>
                        <a mat-button color="accent" href="https://www.mauthor.com/embed/6742294674538496" target="_blank">
                            {{ translations | getLabel: "plain.my_lessons.panel.lesson_details.preview" }}
                        </a>
                    </mat-card-actions>
                </div>
            </mat-card>
            <mat-card class="tutorial-card">
                <div class="content-wrapper">
                    <mat-card-title>
                        Part 7
                    </mat-card-title>
                    <mat-card-subtitle>
                        How to Build a Choice Activity
                    </mat-card-subtitle>
                    <mat-card-content>
                    </mat-card-content>
                    <mat-card-actions>
                        <a mat-button color="accent" href="https://www.mauthor.com/present/4569620707803136" target="_blank">
                            {{ translations | getLabel: "plain.my_lessons.panel.lesson_details.preview" }}
                        </a>
                    </mat-card-actions>
                </div>
            </mat-card>
            <mat-card class="tutorial-card">
                <div class="content-wrapper">
                    <mat-card-title>
                        Part 8
                    </mat-card-title>
                    <mat-card-subtitle>
                        How to Create a Connection Exercise
                    </mat-card-subtitle>
                    <mat-card-content>
                    </mat-card-content>
                    <mat-card-actions>
                        <a mat-button color="accent" href="https://www.mauthor.com/present/5223291242151936" target="_blank">
                            {{ translations | getLabel: "plain.my_lessons.panel.lesson_details.preview" }}
                        </a>
                    </mat-card-actions>
                </div>
            </mat-card>
            <mat-card class="tutorial-card">
                <div class="content-wrapper">
                    <mat-card-title>
                        Part 9
                    </mat-card-title>
                    <mat-card-subtitle>
                        How to Insert a True/False Exercise
                    </mat-card-subtitle>
                    <mat-card-content>
                    </mat-card-content>
                    <mat-card-actions>
                        <a mat-button color="accent" href="https://www.mauthor.com/present/6299114648895488" target="_blank">
                            {{ translations | getLabel: "plain.my_lessons.panel.lesson_details.preview" }}
                        </a>
                    </mat-card-actions>
                </div>
            </mat-card>
        </div>
        <div class="section-title">RESPONSIVE DESIGN</div>
        <mat-divider></mat-divider>
        <div class="section-content">
            <mat-card class="tutorial-card">
                <div class="content-wrapper">
                    <mat-card-title>
                        Part 10
                    </mat-card-title>
                    <mat-card-subtitle>
                        How to Insert a True/False Exercise
                    </mat-card-subtitle>
                    <mat-card-content>
                    </mat-card-content>
                    <mat-card-actions>
                        <a mat-button color="accent" href="https://www.mauthor.com/present/4770035785269248" target="_blank">
                            {{ translations | getLabel: "plain.my_lessons.panel.lesson_details.preview" }}
                        </a>
                    </mat-card-actions>
                </div>
            </mat-card>
        </div>
    </div>
</div>
