{% extends "base.html" %}

{% block content %}

<h1 class="page_header">About us</h1>
<div class="main clear" style="padding-top: 0"></div>

<div>

<div class="left">
	<a href="http://learnetic.com"><img src="/media/logo_www.PNG" width="242" height="107" alt="Learnetic S.A." /></a>
</div>

<div class="right">

<p>mAuthor is provided to you by Learnetic, an eLearning industry leader offering a wide range of products and services for 
modern education. mAuthor is our key solution for publishing houses interested in creating interactive, educational content 
compatible with all kind of desktop and mobile devices.</p>

<p>If you want to reduce your publishing costs by creating content once and have it immediately ready for desktop PCs, Tablet 
PCs and smart phones, mAuthor is the best and the world first solution. All content created with mAuthor is Operating System 
and screen resolution agnostic.</p>
</div>

<div class="clear"></div>

<div class="centered">
<p><h2>Please visit <a href="http://www.learnetic.com">www.learnetic.com</a> to learn more about us and our other products.</h2></p>
</div>
</div>

{% endblock %}