{% extends 'base_no_container.html' %}

{% block content %}
<div class="banner" id="content-mp-main">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 desc">
				<h1>Content Marketplace</h1>
				<p>
					See the mAuthor user-made courses offered for licensing
					and get them with a button click. They are all prepared in
					mAuthor, ready for easy adaptation and localization. Offer
					your content for sale as well!
				</p>
			</div>
			<div class="col-sm-6 text-center">
				<img src="/media/images/main-page/ma_main_content_bg.jpg" width="100%" style="max-width: 600px;">
			</div>		
		</div>
	</div>
</div>

<div class="banner content-mp-separator"></div>

<div class="banner content-mp content-mp-light">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<img class="img-responsive" src="/media/images/main-page/content-mp/mc_icon.png"/>
			</div>
			<div class="col-sm-9">
				<h1 class="content-mp-title">mCurriculum</h1>
				<h1 class="content-mp-publisher"><small>Publisher - Learnetic SA</small></h1>
				<p>The world&rsquo;s largest and most comprehensive Math and Science curriculum, specially designed to work on all mobile devices, including tablets and smartphones. The content covers Mathematics, Physics, Chemistry, Biology and Science education for students between 10 and 19 years of age. It was originally based on the British curriculum and then extended to fully cover most of the world&rsquo;s curricula.</p>
				<p>
				<strong>Samples:</strong><br/><br/>
				<a href="/embed/4913797533794304" target="_blank"><img src="/media/images/main-page/content-mp/mc_sample_01.jpg"/></a>
				<a href="/embed/4510154628268032" target="_blank"><img src="/media/images/main-page/content-mp/mc_sample_02.jpg"/></a>
				<a href="/embed/4612110038335488" target="_blank"><img src="/media/images/main-page/content-mp/mc_sample_03.jpg"/></a>
				</p>
				<a role="button" class="btn btn-info" href="http://www.learnetic.com/content/math-science-middle-and-high-school" target="_blank">More info</a>
			</div>
		</div>
	</div>
</div>

<div class="banner content-mp content-mp-dark">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<img class="img-responsive" src="/media/images/main-page/content-mp/ms_icon.png"/>
			</div>
			<div class="col-sm-9">
				<h1 class="content-mp-title">mSkills</h1>
				<h1 class="content-mp-publisher"><small>Publisher - Learnetic SA</small></h1>
				<p>Drill and Practice courses for grammar and Vocabulary.
				mSkills are dedicated to students aged 16+ who are not searching for comprehensive language learning products but want to practise selected areas of language e.g. vocabulary or grammar.
				The presentation and practice material cover levels from A1 to C2, in British English, offering extensive grammar and vocabulary practice.
				The highly interactive content, useful vocabulary, grammar and pronunciation practice used in context teamed with the attractive design help make learning engaging and relevant.
				</p>
				<p>
				<strong>Samples:</strong><br/><br/>
				<a href="/embed/4877249517977600" target="_blank"><img src="/media/images/main-page/content-mp/ms_sample_01.jpg"/></a>
				<a href="/embed/5324144690331648" target="_blank"><img src="/media/images/main-page/content-mp/ms_sample_02.jpg"/></a>
				</p>
				<a role="button" class="btn btn-info" href="http://www.learnetic.com/content/english-language" target="_blank">More info</a>
			</div>
		</div>
	</div>
</div>

<div class="banner content-mp content-mp-light">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<img class="img-responsive" src="/media/images/main-page/content-mp/mfes_icon.png"/>
			</div>
			<div class="col-sm-9">
				<h1 class="content-mp-title">Math for Elementary School</h1>
				<h1 class="content-mp-publisher"><small>Publisher - Learnetic SA</small></h1>
				<p>Award winning math for Elementary School is an excellent mathematical program written by Finnish authors. Its Finnish origin provides an excellent pedagogical foundation and provides a successful teaching methodology proven world-wide. Although it was originally created in Finland, the matching of the content to the new US Common Core Standards for Mathematics is extraordinarily high. The program focuses on foundational understanding of number and operational skill mastery in the same way as the new Common Core State Standards.</p>
                <p>
                <strong>Samples:</strong><br/><br/>
				<a href="/embed/6748227312287744" target="_blank"><img src="/media/images/main-page/content-mp/mfes_sample_01.png"/></a>
				<a href="/embed/4880579834150912" target="_blank"><img src="/media/images/main-page/content-mp/mfes_sample_02.png"/></a>
                <a href="/embed/5272500498857984" target="_blank"><img src="/media/images/main-page/content-mp/mfes_sample_03.png"/></a>
				</p>
				<a role="button" class="btn btn-info" href="http://www.learnetic.com/content/math-elementary-school" target="_blank">More info</a>
			</div>
		</div>
	</div>
</div>

<div class="banner content-mp content-mp-dark">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<img class="img-responsive" src="/media/images/main-page/content-mp/rd_icon.png"/>
			</div>
			<div class="col-sm-9">
				<h1 class="content-mp-title">Reflex’Deutsch Grammatik + Wortschatz</h1>
				<h1 class="content-mp-publisher"><small>Publisher - COMMEST MULTIMEDIA SAS</small></h1>
				<p>Reflex'Deutsch Grammatik and Reflex’Deutsch Wortschatz is a series of digital resources dedicated to the revision, consolidation and intensive learning of German grammar and vocabulary.
				Both Reflex'Deutsch Grammatik and Reflex’Deutsch Wortschatz consist of 60 lessons, divided into three resources covering levels from A1 to C2. A multitude of exercises allow students to evaluate their level, to revise, consolidate and test their knowledge of German grammar and vocabulary.
                Reflex'Deutsch Grammatik and Reflex’Deutsch Wortschatz is the ideal tool to enrich the courses, to allow students to work grammatical and lexical themes covered in class and to prepare for exams in German.
				</p>
				<p>
				<strong>Samples:</strong><br/><br/>
				<a href="/embed/6521640176320512" target="_blank"><img src="/media/images/main-page/content-mp/rd_sample_01.jpg"/></a>
				<a href="/embed/5927848109932544" target="_blank"><img src="/media/images/main-page/content-mp/rd_sample_01.jpg"/></a>
				</p>
				<a role="button" class="btn btn-info" href="http://www.mcourser.fr/structure/" target="_blank">More info</a>
			</div>
		</div>
	</div>
</div>

<div class="banner content-mp content-mp-light">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<img class="img-responsive" src="/media/images/main-page/content-mp/re_icon.png"/>
			</div>
			<div class="col-sm-9">
				<h1 class="content-mp-title">Reflex’Español Gramática + Vocabulario</h1>
				<h1 class="content-mp-publisher"><small>Publisher - COMMEST MULTIMEDIA SAS</small></h1>
				<p>Reflex’Español Gramática and Reflex’Español Vocabulario is a series of digital resources dedicated to the revision, consolidation and intensive learning of Spanish grammar and vocabulary.
                Both Reflex’Español Gramática and Reflex’Español Vocabulario consist of 60 lessons, divided into three resources covering levels from A1 to C2. A multitude of exercises allow students to evaluate their level, to revise, consolidate and test their knowledge of Spanish grammar and vocabulary.
                Reflex’Español Gramática and Reflex’Español Vocabulario is the ideal tool to enrich the courses, to allow students to work grammatical and lexical themes covered in class and to prepare for exams in Spanish.
                </p>
				<p>
				<strong>Samples:</strong><br/><br/>
				<a href="/embed/6422985972908032" target="_blank"><img src="/media/images/main-page/content-mp/re_sample_01.jpg"/></a>
				<a href="/embed/4560877689765888" target="_blank"><img src="/media/images/main-page/content-mp/re_sample_02.jpg"/></a>
				</p>
				<a role="button" class="btn btn-info" href="http://www.mcourser.fr/structure/" target="_blank">More info</a>
			</div>
		</div>
	</div>
</div>

<div class="banner content-mp content-mp-dark">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<img class="img-responsive" src="/media/images/main-page/content-mp/rf_icon.png"/>
			</div>
			<div class="col-sm-9">
				<h1 class="content-mp-title">Reflex’Français Grammaire + Vocabulaire</h1>
				<h1 class="content-mp-publisher"><small>Publisher - COMMEST MULTIMEDIA SAS</small></h1>
				<p>Reflex’Français Grammaire and Reflex’Français Vocabulaire is a series of digital resources dedicated to the revision, consolidation and intensive learning of French grammar and vocabulary.
                Both Reflex’Français Grammaire and Reflex’Français Vocabulaire consist of 60 lessons, divided into three resources covering levels from A1 to C2. A multitude of exercises allow students to evaluate their level, to revise, consolidate and test their knowledge of French grammar and vocabulary.
                Reflex’Français Grammaire and Reflex’Français Vocabulaire is the ideal tool to enrich the courses, to allow students to work grammatical and lexical themes covered in class and to prepare for exams in French.
				</p>
				<p>
				<strong>Samples:</strong><br/><br/>
				<a href="/embed/4790651966193664" target="_blank"><img src="/media/images/main-page/content-mp/rf_sample_01.jpg"/></a>
				<a href="/embed/4890856692645888" target="_blank"><img src="/media/images/main-page/content-mp/rf_sample_02.jpg"/></a>
				</p>
				<a role="button" class="btn btn-info" href="http://www.mcourser.fr/structure/" target="_blank">More info</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}