{% extends 'base_no_container.html' %}

{% block content %}
<div class="banner banner_developers_wrapper" id="developers-mp-main">
		<div class="container banner_developers">
			<div class="row">
				<div class="col-xs-6 desc">
					<h1>Developers Marketplace</h1>
					See the list of experienced mAuthor developers always ready and happy to help you create your custom content. Feel free to contact them and discuss the details. We are all working with the same technology standard.
				</div>
			</div>
		</div>
</div>

<div class="banner contact-details contact-details-light">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="paper">
					<div class="row">
						<div class="col-sm-6">
							<img src="/media/images/main-page/agemsoft.jpg" width="100%" style="max-width: 300px"/>
						</div>
						<div class="col-sm-6">
							AGEMSOFT, a. s.<br/>
							www.agemsoft.sk<br/>
							Rigeleho 1<br/>
							811 02 Bratislava<br/>
							Slovenska republika<br/>
							tel.: +421 2 444 55 444<br/>
							fax: + 421 2 544 13 219<br/>
							e-mail: info@agemsoft.sk
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 desc">
				<h1>Agemsoft <small>(The Slovak Republic)</small></h1>
				<p>
					Agemsoft is a Slovak company active in the market since 2000. For our customers, we provide products and services in two main areas - Software Distribution - softwarehouse and E-learning.Since 2002 we have expanded our activities to the field of e-learning, e-publishing and currently we are the largest Slovak supplier of electronic learning courses for government institutions, companies, schools and individuals.
				</p>
				<a role="button" class="btn btn-primary btn-sm" href="http://www.agemsoft.sk" target="_blank">Contact Agemsoft</a>
			</div>
		</div>
	</div>
</div>

<div class="banner contact-details contact-details-dark">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="paper">
					<div class="row">
						<div class="col-sm-6">
							<img src="/media/images/main-page/bmg.png" width="100%" style="max-width: 300px"/>
						</div>
						<div class="col-sm-6">
							Bilim Media Group<br/>
							http://bilimmedia.kz/en/<br/>
							Almaty: 050000<br/>
							38 Dostyq<br/> 
							Tel : + 7 727 291 72 55<br/> 
        					+ 7 727 291 71 83<br/> 
							Fax: + 7 727 291 72 55<br/>
							info@bilimmedia.kz<br/>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 desc">
				<h1>Bilim Media Group <small>(Kazakhstan)</small></h1>
				<p>
					Bilim Media Group - innovative company building eLearing market in Kazakhstan. We create and distribute e-content with required techology and service to deliver content to the end user. Our clients range from governmental institutions, media organizations, and key educational institutions. More importantly, we cherish the needs of teachers, students and parents, to whom we devote our work.
					Mission Education - is complex and continuous process including a large number of different levels and types of activities. It is also high level of individual process - unique as the perception of each participant and also their activities. We often hear that the rapid development of technology has further complicated the process of education. There are many new concepts , trends , tools and technological phenomena, which are not easy to understand even for professionals . But we sincerely believe that these technologies are creating new opportunities through which education can be better and more affordable.
				</p>
				<a role="button" class="btn btn-primary btn-sm" href="http://bilimmedia.kz/en/" target="_blank">Contact Bilim Media Group</a>
			</div>
		</div>
	</div>
</div>

<div class="banner contact-details contact-details-light">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="paper">
					<div class="row">
						<div class="col-sm-6">
							<img src="/media/images/main-page/blps.jpg" width="100%" style="max-width: 300px"/>
						</div>
						<div class="col-sm-6">
							www.blpscontentconnections.com<br/>
							Myron Cizdyn, Chief Executive Office<br/>
							myron@blpscontentconnections.com<br/>
							tel. +1.920.522.4592<br/>
							mob.+1.773.447.9614<br/>
							Skype: macizdyn
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 desc">
				<h1>BLPS Content Connections <small>(USA)</small></h1>
				<p>
					BLPS is a premier provider of digital publishing services and a winning, well-respected team with decades of experience in presenting and executing original ideas in educational, religious and trade publishing. Our integrated team crafts content and technology solutions in an environment where creativity and innovation are valued, nurtured and continuously implemented. Among our fastest-growing service areas are instructional design and interactive production services, particularly in the mAuthor platform. Our fully integrated LMS, content, design, and assessment development services make us a one-stop solution for your needs.
				</p>
				<a role="button" class="btn btn-primary btn-sm" href="http://www.blpscontentconnections.com" target="_blank">Contact BLPS</a>
			</div>
		</div>
	</div>
</div>

<div class="banner contact-details contact-details-dark">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="paper">
					<div class="row">
						<div class="col-sm-6">
							<img src="/media/images/main-page/msm.png" width="100%" style="max-width: 300px"/>
						</div>
						<div class="col-sm-6">
							MSM Studio<br/>
							www.msmstudio.eu<br/>
							c/o Pomeranian Science and Technology Park<br/>
							Al. Zwyciestwa 96/98<br/>
							81-451 Gdynia, Poland<br/>
							Tel.: (+48) 58 732 84 55<br/>
							msmstudio@msmstudio.eu<br/>
							Twitter: @msmstudio
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 desc">
				<h1>MSM Studio <small>(Poland)</small></h1>
				<p>
					MSM Studio creates on-demand apps, web content and artwork for education and fun. Basing on its competences and experience the company focuses on projects dedicated for pre-school and school kids. High quality of MSM Studio services has already been recognised by customers from the UK, the USA, Ireland, Benelux and Scandinavia. Apart from core activities in the area of app and web content development, the company also acts as illustration agency, delivering outstanding works of Polish illustrators and animators to publishing houses and interactive studios around the world.<br/>
					<strong>&quot;We believe that our high-quality services support the growth of our Customers&rsquo; business. What we deliver meets our clients&rsquo; requirements and expectations regarding technical and aesthetic aspects, timing and price.&quot;</strong> - MSM Studio
				</p>
				<a role="button" class="btn btn-primary btn-sm" href="http://www.msmstudio.eu" target="_blank">Contact MSM Studio</a>
			</div>
		</div>
	</div>
</div>

<div class="banner contact-details contact-details-light">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="paper">
					<div class="row">
						<div class="col-sm-6">
							<img src="/media/images/main-page/bazaczek.png" width="100%" style="max-width: 300px"/>
						</div>
						<div class="col-sm-6">
							www.studio.bazaczek.pl/en<br/>
							studio@bazaczek.pl
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 desc">
				<h1>Studio Bazaczek <small>(Poland)</small></h1>
				<p>
					We are an independent graphic design studio since 1997 in Gdynia, Poland. We blend design and technology to create layout and content for new media, printed publications or visual identity.
				</p>
				<a role="button" class="btn btn-primary btn-sm" href="http://studio.bazaczek.pl/en" target="_blank">Contact Studio Bazaczek</a>
			</div>
		</div>
	</div>
</div>

<div class="banner contact-details contact-details-dark">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="paper">
					<div class="row">
						<div class="col-sm-6">
							<img src="/media/images/main-page/olivahouse.png" width="100%" style="max-width: 300px"/>
						</div>
						<div class="col-sm-6">
                            www.olivahouse.eu<br/>
                            Michal Liberak, Owner & CEO<br/>
                            wu@olivahouse.eu
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 desc">
				<h1>Olivahouse LLC <small>(Poland)</small></h1>
				<p>
					We are special forces for rapid reactions. Our specialty is the world of mAuthor. Satellite subjects encompass multimedia and e-learning content transmutation into device fragmentation resistant, attractive, future-proof, e-learning resources. The force is strong within us.
				</p>
				<a role="button" class="btn btn-primary btn-sm" href="http://www.olivahouse.eu" target="_blank">Contact Olivahouse LLC</a>
			</div>
		</div>
	</div>
</div>

<div class="banner contact-details contact-details-light">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="paper">
					<div class="row">
						<div class="col-sm-6">
							<img src="/media/images/main-page/robimygry.jpg" width="100%" style="max-width: 300px"/>
						</div>
						<div class="col-sm-6">
                            www.robimygry.pl<br/>
                            tel. (+48) 793-202-127<br/>
                            marketing@robimygry.pl
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 desc">
				<h1>ROBIMYGRY.pl Game Studio <small>(Poland)</small></h1>
				<p>
					ROBIMYGRY.pl creates games, apps, web content and artworks as an independent studio. Our team is dedicated to provide high quality solutions based on many years of experience in digital publishing.
				</p>
				<a role="button" class="btn btn-primary btn-sm" href="http://www.robimygry.pl" target="_blank">Contact ROBIMYGRY.pl Game Studio</a>
			</div>
		</div>
	</div>
</div>

<div class="banner contact-details contact-details-dark">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="paper">
					<div class="row">
						<div class="col-sm-6">
							<img src="/media/images/main-page/logo_commest_180x54px.jpg" width="100%" style="max-width: 300px"/>
						</div>
						<div class="col-sm-6">
                            www.commest.com<br/>
                            22 Rue de Chemnitz<br/>
                            F-68200 MULHOUSE<br/>
                            FRANCE<br/>
                            Tel.: +33 3 89 32 96 32<br/>
                            Fax.: +33 3 89 42 69 19<br/>
                            e-mail: sabine.gautherat@commest.com
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 desc">
                <h1>COMMEST MULTIMEDIA SAS <small>(FRANCE)</small></h1>
				<p>
					Present in the multimedia market since 1993, our company, COMMEST MULTIMEDIA SAS is a publisher and courseware developer of digital contents, specialized in language-learning solutions for the French-speaking market. Always on the cutting-edge of technology, and pedagogically recognized by the French Education Ministry, our resources are currently used by thousands of schools, educational establishments, universities, training centers and companies. With a vast experience in the e-learning field and the best multimedia creation tools available, we also propose multimedia content development for the specific purposes of educational institutions and companies.
				</p>
				<a role="button" class="btn btn-primary btn-sm" href="http://www.commest.com" target="_blank">Contact COMMEST MULTIMEDIA SAS</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}