{% extends 'base.html' %}

{% block head %}
<script type="text/javascript" src="/media/js/learn-more-helpers.js"></script>

{% endblock %}

{% block background %}
<div class="lmp-background">
	<div class="lmp-banner-wrapper">
		<img src="/media/images/lmp-banner.jpg" />
		<div class="lmp-banner-text">
			<h1>
				Why?
			</h1>
		
			Tablets and smartphones are becoming natural <br />
			learning devices for pupils and students worldwide, <br />
			therefore all educational content should be accessed <br />
			from a wide range of desktop and handheld devices. <br />
			mAuthor allows to create content once and have it <br />
		 	immediately ready for all of them. <br />
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="lmp-main">

	
	<div class="lmp-text-and-image" id="first">
		<div class="lmp-image-container lmp-right">
			<img src="/media/images/lmp-tablets.jpg" />
		</div>

		<div class="lmp-text-container lmp-right">
			<h1>
				What is it?
			</h1>

			mAuthor is an on-line, professional service <br />
			to create OS and screen resolution <br />
			agnostic, interactive, educational content <br />
			that can be exported to any SCORM <br />
			compliant Learning Platform or as an <br />
			off-line package. It can also be instantly <br />
			embedded in any website directly from <br />
			mAuthor.
		</div>
	</div>

	<div class="lmp-text-and-image" id="second">
		<div class="lmp-image-container lmp-left">
			<img src="/media/images/lmp-kids.jpg" />
		</div>
		
		<div class="lmp-text-container lmp-left">
			<h1>
				Is it for you?
			</h1>

			mAuthor is designed for publishing houses or <br />
			development companies willing to create<br />
			educational interactive content that can be <br />
			accessed from Macs, PCs, tablets and <br />
			smartphones (iOS, Android).
		</div>

	</div>

	<div class="clear"></div>

	<div class="lmp-grey-box">
		<h1>
			How to make most of it?
		</h1>

		Go through the below demo presentation to get familiar with the numerous <br />
		functionalities of the Multiplatform ePublishing Solution.

		<div class="lmp-big-tablet-box">
			<img src="/media/images/lmp-big-tablet.jpg" />
			<iframe width="712" height="505" frameborder="0" src="/embed/1836756"></iframe>
		</div>

		<h1>
			mAuthor offers:
		</h1>

		<div class="lmp-moffers-container">
			<div class="lmp-moffers-column lmp-left">
				<div class="lmp-moffers-text-and-image">
					<div class="lmp-moffers-image lmp-left">
						<img src="/media/images/lmp-cloud.png" />
					</div>
					<div class="lmp-moffers-text">
						Lowering your cost by creating content
						once and making it available for all kinds of
						devices and screen resolutions. 
					</div>
				</div>

				<div class="lmp-moffers-text-and-image">
					<div class="lmp-moffers-image lmp-left">
						<img src="/media/images/lmp-arrows.png" />
					</div>
					<div class="lmp-moffers-text">
						Steeping your digital publishing learning curve
						due to intuitive, WYSIWYG and template
						approach content editing model.
					</div>
				</div>

				<div class="lmp-moffers-text-and-image">
					<div class="lmp-moffers-image lmp-left">
						<img src="/media/images/lmp-brush.png" />
					</div>
					<div class="lmp-moffers-text">
						Independence and didactical flexibility due to the
						open, addon oriented architecture to create
						various interaction types supporting
						truly personalized learning experience.
					</div>
				</div>
			</div>

			<div class="lmp-moffers-column lmp-right">
				<div class="lmp-moffers-text-and-image">
					<div class="lmp-moffers-image lmp-left">
						<img src="/media/images/lmp-eye.png" />
					</div>
					<div class="lmp-moffers-text">
						Ability to create rich, interactive content
						accessible from all kinds of desktop and mobile
						devices, taking into account touch screen
						operational specifics.
					</div>
				</div>

				<div class="lmp-moffers-text-and-image">
					<div class="lmp-moffers-image lmp-left">
						<img src="/media/images/lmp-os.png" />
					</div>
					<div class="lmp-moffers-text">
						On-line environment allowing you to outsource the
						development but still controlling the process and
						format of the final product as well as enabling to
						continue and re-use the content after you change
						the developer.
					</div>
				</div>
			</div>

			<div class="clear"></div>
		</div>
	</div>
	
	<div class="lmp-sample-lessons" id="samples">
		<h1>See sample lessons prepared with mAuthor:</h1>
		
		<div class="lmp-single-lesson-container">
			<div class="link-container">
				<a href="/embed/1009048">Mathematics Sample Lesson</a>
			</div>
			<a href="/embed/1009048">
				<img src="/media/images/lmp-sample1.jpeg" />
			</a>
		</div>
		
		<div class="lmp-single-lesson-container">
			<div class="link-container">
				<a href="/embed/1008049">Physics Sample Lesson</a>
			</div>
			<a href="/embed/1008049">
				<img src="/media/images/lmp-sample2.jpeg" />
			</a>
		</div>
		
		<div class="lmp-single-lesson-container">
			<div class="link-container">
				<a href="/embed/1013409">Biology Sample Lesson</a>
			</div>
			<a href="/embed/1013409">
				<img src="/media/images/lmp-sample3.jpeg" />
			</a>
		</div>
		
		<div class="lmp-single-lesson-container">
			<div class="link-container">
				<a href="/embed/951516">Chemistry Sample Lesson</a>
			</div>
			<a href="/embed/951516">
				<img src="/media/images/lmp-sample4.jpeg" />
			</a>
		</div>
	</div>
</div>
{% endblock %}