{% extends 'base_no_container.html' %}

{% block content %}
<div class="banner samples-dark" id="samples-main">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 desc">
				<h1>Samples</h1>
				<p>
					Experience highly interactive content, access it from multiple platforms and any mobile devices easily.
					Test a vast combination of customizable activities, games, multimedia resources, and educational
					movies and build multipurpose material for
					efficient, stimulating and enjoyable learning.
				</p>
			</div>
			<div class="col-sm-8 icons text-center">
				<a href="/present/6320737856520192" target="_blank"><img src="/media/images/main-page/samples/new_samples/Elementary-Math.png" width="20%"/></a>
                <a href="/present/6385215752634368" target="_blank"><img src="/media/images/main-page/ma_main_sample_03.jpg" width="25%"/></a>
                <a href="/present/4616201032957952" target="_blank"><img src="/media/images/main-page/samples/new_samples/Demo-z-UC-z-nowym-templatem-03.png" width="20%"/></a>
			</div>
		</div>
	</div>
</div>

<div class="banner samples-separator"></div>

<div class="banner samples-light">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-push-4">
				<h1>High School Math</h1>
				<p>A math lesson that embraces striking multimedia assets complementing traditional lectures and placing difficult mathematical problems into easy to relate to real-life contexts.
                <br>Copyright © Learnetic & YDP</p>
				<a role="button" class="btn btn-success" href="/present/4616201032957952" target="_blank">Run lesson</a>
			</div>
			<div class="col-sm-4 col-sm-pull-8 image">
                <a href="/present/4616201032957952" target="_blank">
				    <img src="/media/images/main-page/samples/new_samples/Demo-z-UC-z-nowym-templatem-03.png"/>
                </a>
			</div>
		</div>
	</div>
</div>
<div class="banner samples-dark">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-push-4">
				<h1>High School Physics</h1>
				<p>A sample physics lesson presenting the enthusiastic and intuitive yet objective view of the surrounding world. Rich multimedia assets both promote creative thinking and make physics an easy and enjoyable subject to learn
                    <br>Copyright © Learnetic & YDP</p>
				<a role="button" class="btn btn-success" href="/present/5133421395836928" target="_blank">Run lesson</a>
			</div>
			<div class="col-sm-4 col-sm-pull-8 image">
                <a href="/present/5133421395836928" target="_blank">
				    <img src="/media/images/main-page/samples/new_samples/Demo-z-UC-z-nowym-templatem-04.png"/>
                </a>
			</div>
		</div>
	</div>
</div>
<div class="banner samples-light">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-push-4">
				<h1>High School Biology</h1>
				<p>A biology lesson that covers a vast selection of rich multimedia assets showing the functions of organisms and biological processes invisible to the naked eye. The resources add immense value to the best results achievable from traditional lectures.
                <br>Copyright © Learnetic & YDP</p>
				<a role="button" class="btn btn-success" href="/present/6310757831016448" target="_blank">Run lesson</a>
			</div>
			<div class="col-sm-4 col-sm-pull-8 image">
                <a href="/present/6310757831016448" target="_blank">
				    <img src="/media/images/main-page/samples/new_samples/Demo-z-UC-z-nowym-templatem-02.png"/>
                </a>
			</div>
		</div>
	</div>
</div>
<div class="banner samples-dark">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-push-4">
				<h1>High School Chemistry</h1>
				<p>An example of a chemistry lesson presenting a mix of highly interactive resources that give intuitive and unique opportunities to understand the chemical processes propelling the world around us.
                <br>Copyright © Learnetic & YDP</p>
				<a role="button" class="btn btn-success" href="/present/5655836991422464" target="_blank">Run lesson</a>
			</div>
			<div class="col-sm-4 col-sm-pull-8 image">
                <a href="/present/5655836991422464" target="_blank">
				    <img src="/media/images/main-page/samples/new_samples/Demo-z-UC-z-nowym-templatem-05.png"/>
                </a>
			</div>
		</div>
	</div>
</div>
<div class="banner samples-light">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-push-4">
				<h1>Middle School Science</h1>
				<p>A sample science lesson full of vivid multi-media solutions including illustrations, animations, films, 3D models, games, and activities that enhance pupils' interest in the surrounding world.
                    <br>Copyright © Learnetic & YDP</p>
				<a role="button" class="btn btn-success" href="/present/6280455293239296" target="_blank">Run lesson</a>
			</div>
			<div class="col-sm-4 col-sm-pull-8 image">
				<a href="/present/6280455293239296" target="_blank">
                    <img src="/media/images/main-page/samples/new_samples/Demo-z-UC-z-nowym-templatem-01.png"/>
                </a>
			</div>
		</div>
	</div>
</div>
<div class="banner samples-dark">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-push-4">
				<h1>321 math!</h1>
				<p>An example of elementary math lesson that has been specially designed to keep the youngest motivated at all times – kids are awarded after successfully completing each exercise, page and lesson. Moreover, the lesson is full of colourful multimedia assets and gamification features that often place mathematical problems into real-life situations.
                <br>Copyright © Learnetic & Edukustannus</p>
				<a role="button" class="btn btn-success" href="/present/6320737856520192" target="_blank">Run lesson</a>
			</div>
			<div class="col-sm-4 col-sm-pull-8 image">
                <a href="/present/6320737856520192" target="_blank">
				    <img src="/media/images/main-page/samples/new_samples/Elementary-Math.png"/>
                </a>
			</div>
		</div>
	</div>
</div>
<div class="banner samples-light">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-push-4">
				<h1>Elementary School Math</h1>
				<p>A sample elementary math lesson that consists of high-quality interactive pages including animations, calculations, graphs, 3D models, games, and activities making mathematics an easy subject to understand, follow, and use in everyday life.
                <br>Copyright © Learnetic & YDP
                <br>Copyright © Seppo Rikala, Ann Mari Sintonen, Tuula Uus-Leponiemi, Risto Ilmavirta, Markku Uus-Leponiemi, Helena Sieppi ja WSOY Oppimaterialit Oy 2006</p>
				<a role="button" class="btn btn-success" href="/present/5696323061284864" target="_blank">Run lesson</a>
			</div>
			<div class="col-sm-4 col-sm-pull-8 image">
                <a href="/present/5696323061284864" target="_blank">
				    <img src="/media/images/main-page/samples/new_samples/Laskutaito.png"/>
                </a>
			</div>
		</div>
	</div>
</div>
<div class="banner samples-dark">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-push-4">
				<h1>3rd Grade Math eBook</h1>
				<p>An interactive math eBook for 3rd Grade learners presents the subject of plane figures in geometry through a set of highly stimulating and interactive activities, presentations and simulations.
                <br>Copyright © 2016 Porto Editora</p>
				<a role="button" class="btn btn-success" href="/present/6391584823181312#11" target="_blank">Run lesson</a>
			</div>
			<div class="col-sm-4 col-sm-pull-8 image">
                <a href="/present/6391584823181312#11" target="_blank">
				    <img src="/media/images/main-page/samples/new_samples/Interactive-Math-eBook.png"/>
                </a>
			</div>
		</div>
	</div>
</div>
<div class="banner samples-light">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-push-4">
				<h1>10th Grade Physics Resources</h1>
				<p>A sample of interactive Physics resources for 10th Grade learners. The presented simulation shows different interactions between a selected solid body (rubber or wood) embedded in chosen liquid – water or oil.
                <br>Copyright © 2016 Porto Editora</p>
				<a role="button" class="btn btn-success" href="/present/6247565472301056" target="_blank">Run lesson</a>
			</div>
			<div class="col-sm-4 col-sm-pull-8 image">
                <a href="/present/6247565472301056" target="_blank">
				    <img src="/media/images/main-page/samples/new_samples/Interactive-Resources.png"/>
                </a>
			</div>
		</div>
	</div>
</div>
<div class="banner samples-dark">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-push-4">
				<h1>Preschool Learning</h1>
				<p>An example of a highly interactive lesson on animals prepared for preschool learners. A special colourful layout with plenty of vivid illustrations, sound effects and engaging activities has been expressly designed to keep the youngest's interest at all times.
                <br>Copyright © 2016 Porto Editora</p>
				<a role="button" class="btn btn-success" href="/present/6169874810798080" target="_blank">Run lesson</a>
			</div>
			<div class="col-sm-4 col-sm-pull-8 image">
                <a href="/present/6169874810798080" target="_blank">
				    <img src="/media/images/main-page/samples/new_samples/Pre-School-lessons.png"/>
                </a>
			</div>
		</div>
	</div>
</div>
<div class="banner samples-light">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-push-4">
				<h1>Dysgraphia demo</h1>
				<p>A demo lesson presenting a set of fully interactive activities that aim to support the development of graphomotor skills and prevent the risk of dysgraphia in preschool and early school children.
                <br>Copyright © Learnetic</p>
				<a role="button" class="btn btn-success" href="/present/5411586351562752" target="_blank">Run lesson</a>
			</div>
			<div class="col-sm-4 col-sm-pull-8 image">
                <a href="/present/5411586351562752" target="_blank">
				    <img src="/media/images/main-page/samples/new_samples/Zlokalizowane-demo-Dysgrafii.png"/>
                </a>
			</div>
		</div>
	</div>
</div>
<div class="banner samples-dark">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-push-4">
				<h1>Polish Elementary School Textbook</h1>
				<p>A sample of an interactive version (partially translated) of a Polish elementary school texbook (Grade 1). The lesson introduces the letter ""F"" and is full of engaging and fun materials specially designed for children.
                <br>Copyright © Learnetic</p>
				<a role="button" class="btn btn-success" href="/present/4759768699240448" target="_blank">Run lesson</a>
			</div>
			<div class="col-sm-4 col-sm-pull-8 image">
                <a href="/present/4759768699240448" target="_blank">
				    <img src="/media/images/main-page/samples/new_samples/Polish-MoE-Grade-1-Textbook.png"/>
                </a>
			</div>
		</div>
	</div>
</div>
<div class="banner samples-light">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-push-4">
				<h1>English Vocabulary Practice</h1>
				<p>A drill & practice English vocabulary lesson presenting the topic of cuisine in an attractive and stimulating way. Vocabulary used in context, useful pronunciation practice and outstanding design make learning really engaging and relevant.
                <br>Copyright © Learnetic & YDP</p>
				<a role="button" class="btn btn-success" href="/present/5324144690331648" target="_blank">Run lesson</a>
			</div>
			<div class="col-sm-4 col-sm-pull-8 image">
                <a href="/present/5324144690331648" target="_blank">
				    <img src="/media/images/main-page/samples/new_samples/English-Language-Learning-Vocabulary.png"/>
                </a>
			</div>
		</div>
	</div>
</div>
<div class="banner samples-dark">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-push-4">
				<h1>English Grammar Practice</h1>
				<p>An engaging drill & practice English grammar lesson introducing the subject of Conditionals through a set of engaging and highly interactive activities.
                <br>Copyright © Learnetic & YDP</p>
				<a role="button" class="btn btn-success" href="/present/4877249517977600" target="_blank">Run lesson</a>
			</div>
			<div class="col-sm-4 col-sm-pull-8 image">
                <a href="/present/4877249517977600" target="_blank">
				    <img src="/media/images/main-page/samples/new_samples/English-Language-Learning-Grammar.png"/>
                </a>
			</div>
		</div>
	</div>
</div>
<div class="banner samples-light">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-push-4">
				<h1>Learning Spanish Grammar</h1>
				<p>An advanced (C1/C2) Spanish grammar lesson introducing the subject of expressing the cause and consequence through a set of engaging and highly interactive activities.
                <br>Copyright © Commest</p>
				<a role="button" class="btn btn-success" href="/present/6422985972908032" target="_blank">Run lesson</a>
			</div>
			<div class="col-sm-4 col-sm-pull-8 image">
                <a href="/present/6422985972908032" target="_blank">
				    <img src="/media/images/main-page/samples/new_samples/Commest-Spanish.png"/>
                </a>
			</div>
		</div>
	</div>
</div>
<div class="banner samples-dark">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-push-4">
				<h1>Learning German Grammar</h1>
				<p>An advanced (C1/C2) German grammar lesson introducing the subject of passive voice through a set of engaging and highly interactive activities.
                <br>Copyright © Commest</p>
				<a role="button" class="btn btn-success" href="/present/6521640176320512" target="_blank">Run lesson</a>
			</div>
			<div class="col-sm-4 col-sm-pull-8 image">
                <a href="/present/6521640176320512" target="_blank">
				    <img src="/media/images/main-page/samples/new_samples/Commest-German.png"/>
                </a>
			</div>
		</div>
	</div>
</div>
<div class="banner samples-light">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-push-4">
				<h1>Learning French Grammar</h1>
				<p>An intermediate (B1/B2) Spanish grammar lesson introducing the subject of comparative and superlative adjectives through a set of engaging and highly interactive activities.
                <br>Copyright © Commest</p>
				<a role="button" class="btn btn-success" href="/present/4790651966193664" target="_blank">Run lesson</a>
			</div>
			<div class="col-sm-4 col-sm-pull-8 image">
                <a href="/present/4790651966193664" target="_blank">
				    <img src="/media/images/main-page/samples/new_samples/Commest-French.png"/>
                </a>
			</div>
		</div>
	</div>
</div>
<div class="banner samples-dark">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-push-4">
				<h1>ELT Reader for Children</h1>
				<p>An interactive version of an ELT reader for the youngest English learners. A wide selection of colourful illustrations and audio recordings on each lesson page will surely improve childrens' reading, speaking and listening skills at once.
                <br>Copyright © Zaner-Bloser, Inc.</p>
				<a role="button" class="btn btn-success" href="/present/6248081674731520" target="_blank">Run lesson</a>
			</div>
			<div class="col-sm-4 col-sm-pull-8 image">
                <a href="/present/6248081674731520" target="_blank">
				    <img src="/media/images/main-page/samples/new_samples/ELT-Reader.png"/>
                </a>
			</div>
		</div>
	</div>
</div>
<div class="banner samples-light">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-push-4">
				<h1>Corporate Learning</h1>
				<p>A sample lesson to be used in corporate learning. It covers a wide range of business–related topics showing diverse interactive activities and assets that will surely enhance every professional course.
                <br>Copyright © Learnetic</p>
				<a role="button" class="btn btn-success" href="/present/6385215752634368" target="_blank">Run lesson</a>
			</div>
			<div class="col-sm-4 col-sm-pull-8 image">
                <a href="/present/6385215752634368" target="_blank">
				    <img src="/media/images/main-page/samples/new_samples/Corporate-Learning.png"/>
                </a>
			</div>
		</div>
	</div>
</div>
<div class="banner samples-dark">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-push-4">
				<h1>Sample Lesson in Arabic Lanuage</h1>
				<p>An example of an mCurriculum lesson in Arabic language. The entire layout has been redesigned to match the special requirements posed by Arabic script, including the right-to-left writing direction.
                <br>Copyright © Learnetic & YDP</p>
				<a role="button" class="btn btn-success" href="/present/5200155121287168" target="_blank">Run lesson</a>
			</div>
			<div class="col-sm-4 col-sm-pull-8 image">
                <a href="/present/5200155121287168" target="_blank">
				    <img src="/media/images/main-page/samples/new_samples/Sample-Lesson-in-Arabic-Lanuage.png"/>
                </a>
			</div>
		</div>
	</div>
</div>


{% endblock %}